

# HTTPS forced by SG-Optimizer
<IfModule mod_rewrite.c>
    RewriteEngine On
 RewriteEngine On
 RewriteCond %{HTTP_HOST} ^(www\.)?xpch\.cc$ [NC]
 RewriteRule ^(.*)$ https://crosspointchurchsv.org/$1 [R=301,L]
    
 RewriteCond %{HTTP_HOST} ^(www\.)?xpch\.org$ [NC]
 RewriteRule ^(.*)$ https://crosspointchurchsv.org/$1 [R=301,L]
    
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{REQUEST_URI} !^/app/
RewriteCond %{REQUEST_URI} !^/webapp/
RewriteRule ^MeetingMinutesSystem(/.*)?$ /webapp/MeetingMinutesSystem/public$1 [L]
RewriteRule ^jobreferral(/.*)?$ /webapp/jobreferral$1 [L]
RewriteRule ^jobsreferral(/.*)?$ /webapp/jobreferral$1 [L]
RewriteRule ^OnlineRegistration(/.*)?$ /webapp/OnlineRegistration$1 [L]
RewriteRule ^WorshipAttendance(/.*)?$ /webapp/WorshipAttendance$1 [L]
RewriteRule ^youtubeSermon(/.*)?$ /webapp/youtubeSermon$1 [L]

RewriteCond %{HTTP_HOST} ^(www\.)?xpch\.cc$ [NC]
RewriteRule ^(.*)$ https://crosspointchurchsv.org/$1 [R=301,L]


</IfModule>
# END HTTPS



















# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
redirect 301 /joyfulkidsclub http://crosspointchurchsv.org/JoyfulKidsClub
RewriteCond %{HTTP_HOST} ^my\.crosspointchurchsv\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.my\.crosspointchurchsv\.org$
RewriteRule ^/?$ "https\:\/\/www.crosspointchurchsv.org\/my-crosspoint" [R=301,L]
RewriteCond %{HTTP_HOST} ^youtube\.crosspointchurchsv\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.youtube\.crosspointchurchsv\.org$
RewriteRule ^/?$ "https\:\/\/www\.youtube\.com\/channel\/UCVkld8qmvxHk7l6CfZX_1Vw" [R=301,L]
RewriteCond %{HTTP_HOST} ^rc\.crosspointchurchsv\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.rc\.crosspointchurchsv\.org$
RewriteRule ^/?$ "https\:\/\/www\.crosspointchurchsv\.org\/resourcecenter\/openbiblio\/opac\/index\.php" [R=301,L]
RewriteCond %{HTTP_HOST} ^rc\-admin\.crosspointchurchsv\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.rc\-admin\.crosspointchurchsv\.org$
RewriteRule ^/?$ "https\:\/\/www\.crosspointchurchsv\.org\/resourcecenter\/openbiblio\/home\/index\.php" [R=301,L]


RewriteRule ^(.*)\/churchoffice\/(.*)$ https://sites.google.com/crosspointchurchsv.org/mycrosspoint/home [L,R=301]



RewriteEngine On


# SGO Unset Vary
  Header unset Vary
# SGO Unset Vary END
