<h1>To Reserve a room in Pleasanton</h1>
<h2>Step 1</h2>
Check the calendar below for free slot(s).

<a href="https://calendar.google.com/calendar/u/0/embed?src=xptplroom@gmail.com&amp;ctz=America/Los_Angeles" target="_blank" rel="noopener">https://calendar.google.com/calendar/u/0/embed?src=xptplroom@gmail.com&amp;amp;ctz=America/Los_Angeles</a>
<h2>Step 2</h2>
Fill out the form to reserve the room.
Click the <a href="https://docs.google.com/forms/d/e/1FAIpQLScvp7_9KR1h818zVKpoGJt2JcMrTT2BN1I5XD-DTgD9zD2pyA/viewform">form</a> here.
