---
import Navigation from "./Navigation.astro";
---

<header class="sticky top-0 z-50 w-full bg-cream/95 backdrop-blur-md border-b border-cream-3">
  <div class="container flex items-center justify-between h-18">
    <a href="/" class="flex items-center shrink-0">
      <span class="sr-only">Crosspoint Church</span>
      <img
        alt="Crosspoint Church"
        src="https://crosspointchurchsv.org/wp-content/uploads/2022/04/Xpt-ID2015-1_1400x346-1.png"
        class="h-14 w-auto"
      />
    </a>

    <Navigation />
  </div>
</header>
